################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/netcore8/FileContentIndex
/.vs/netcore8/DesignTimeBuild/.dtbcache.v2
/netcore8/obj/Debug/net8.0/netcore8.AssemblyInfoInputs.cache
/.vs/netcore8/v17/.suo
/netcore8/obj/Debug/net8.0/netcore8.AssemblyInfo.cs
