################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/netcore8/FileContentIndex
/.vs/netcore8/DesignTimeBuild/.dtbcache.v2
