################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/netcore8/FileContentIndex
/.vs/netcore8/DesignTimeBuild/.dtbcache.v2
/netcore8/obj/Debug/net8.0
/.vs/netcore8/v17/.suo

/.vs/ProjectEvaluation/netcore8.projects.v7.bin
/.vs/netcore8/v17/.futdcache.v2
