@using netcore8.clases
@model List<archivoCLS>

@{
    ViewData["Title"] = "leerFileSystem";
}

<h1>Tabla de archivos</h1>

<div class="d-flex justify-content-center">
    <input type="file" id="fupArchivo"/>
    <button style="margin-left:1em" onclick="subir()" class="btn btn-primary">Subir</button>
</div>

<div id="divTabla">

</div>

@* <table class="table mt-3">
    <thead>
        <tr>
            <th>Nombre archivo</th>
            <th>Extensión archivo</th>
            <th>Operación</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.nombreArchivo</td>
                <td>@obj.extension</td>
                <td>
                    <button class="btn btn-primary" onclick="descargar('@obj.nombreArchivo', '@obj.extension')">
                        <i class="bi bi-cloud-arrow-down"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table> *@

@* @section Scripts{
    <script src="~/js/leerfilesystem.js" asp-append-version="true"></script>

} *@

<script src="~/js/leerfilesystem.js" asp-append-version="true"></script>
